*{
    margin: 0;
}

#logo{
    width: 120px;
    height: 80px;
    border-radius: 50%;
    margin: 0.5rem;
}

.header-container{
    border: 2px solid gray;
    background: linear-gradient(#0b0044, #00a6e7);
    margin: 0;
    height: 6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-container nav{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.header-container nav li a{
    font-family: 'Patrick Hand SC', 'cursive';
    font-size:larger;
    color: aliceblue;
}

.header-container div{
    display: flex;
    justify-content: start;
}

.header-container input{
    height: 1rem;
    width: 20rem;
    margin-right: 1rem;
    text-indent: 1rem;

    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: linear;
}

.header-container div img{
    margin-left: 0.1rem;
    width: 1rem;
    position: absolute;
    align-self:center;
}

.header-container div input:focus{
    font-size: 18px;
    width: 30rem;
    background-color: #ffffff;
    border: 2px solid #0b0044;
    border-radius: 20px;
}

h1{
    margin-top: 0px;
    color: white;
    font-size: 30px;
    text-shadow: 2px 4px 10px green;
    text-indent: 10px;
    font-family:'Patrick Hand SC', cursive;
    background-image: url("./imgs/logo.jpg");
    background-size: contain;
    background-attachment: fixed;
    border-radius: 20px;
    margin-bottom: 0px;
}

.registro{
    border: 2px solid gray;
    border-radius: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#NOMBRE{
    text-transform: uppercase;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#NOMBRE:hover{
    border-bottom: 2px solid #0b0044;
}

.datosG{
    margin-top: 0.5rem;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.cuenta{
    margin-top: 0.5rem;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#CUENTA{
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#CUENTA:hover{
    border-bottom: 2px solid #0b0044;
}

.notificaciones{
    margin-top: 0.5rem;
    text-align: center;
}

.confirmar{
    margin-top: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

footer{
    border: 2px solid black;
    color: white;
    border-radius: 20px;
    padding: 2rem;
    background-color: grey;
}